<div class="lecture">
  <div class="lecture_top">
    <div class = "top">
      <%= image_tag 'students_in_lecture.jpg',:class =>"class", :alt => "Class" %>
    </div>
    <header id="header">
       <h2 style="height: 32px, width: auto">授業一覧</h2>
       <p class="content">今まで登録した、授業一覧を表示します。</p>
    </header><!-- /header -->
  </div>

  <div id="content">
    <% @lectures.each do |lecture| %>
    <div class="lecture_all col-sm-offset-1 col-sm-5 col-md-3 col-md-offset-1">
      <div class="lecture_name">
        <%= lecture.name %>
      </div>
      <div class="lecture_description">
        <%= lecture.description %>
      </div>
        <%= link_to "詳細を見る", lecture_path(lecture), :class =>"detail" %>
    </div>
    <% end %>
  </div>

</div>

  <div class="bottom col-xs-12" style="height: auto;" >
    <div id="catch">
    <%= link_to "授業を新しく作る", new_lecture_path %>
    </div>
    <%= link_to "前の画面へ戻る", root_path %>
  </div>


 
