<%= form_for [@student, @lectures_student] do |f| %>
  <div style="margin: 8px 0">
    <%= f.label :テスト評価, style: { 'margin-right' => 8 } %>
    <%= f.text_area :test_result, placeholder: 'テスト評価', style: 'width: 10%;height: 10px;'%>
  </div>
  <div style="margin: 8px 0">
    <%= f.text_area :descripition, placeholder: '生徒の評価を自由記述で書く', style: 'width: 100%;height: 300px;' %>
  </div>
  <div class="row">
    <div class="col10 push1">
      <%= button_tag type: "submit", class: "btn btn--block" do %>
      投稿する<i class="icon-arrow-right"></i>
      <% end %>
    </div>
  </div>
<% end %>