<!DOCTYPE html>
<html lang= "ja">
<head>
  <meta charset= "utf-8">
  <title>Bestudy</title>
  <meta name ="viewport" content="width=device-width">
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script>
    $(function(){
      $("#menubtn").click(function(){
        $("#menu").slideToggle();
      });
    });
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </meta>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
  <![endif]-->
</head>
<body>
  <div class="header">
    <div class="header-inner">
      <div class="header-site">
        <div class="site">

        <h1><a href="/"> Bestudy</a></h1>
        </div>
      </div>
      <div class="header-nav">
        <button type="button" id= "menubtn">
        <div class="bars">
        <%= image_tag 'list.png', :alt => "list", :class => "list" %>
        </div>
        </button>
        <nav class ="menu" id="menu">
          <ul>
            <li><%= link_to "トップ", root_path %></li>
            <li><a href="users/sign_in">ログイン</a></li>
            <li><a href="users/sign_up">新規登録</a></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
<%= yield %>
  
  <div class="footer">
    <div class="footer-inner">
      <div class="copyright">
        <p>Copyright &copy; Bestudy</p>
      </div>
      <div class="flaticon">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/designmodo" title="Designmodo">Designmodo</a>, <a href="http://www.flaticon.com/authors/situ-herrera" title="Situ Herrera">Situ Herrera</a>, <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    </div>
  </div>
</body>

