<!DOCTYPE html>
<html lang= "ja">
<head>
  <meta charset= "utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Bestudy</title>
  <meta name ="viewport" content="width=device-width">
  <script src="http://code.jquery.com/jquery.min.js"></script>

  <!-- Bootstrap適用 -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  <script>
    $(function(){
      $("#menubtn").click(function(){
        $("#menu").slideToggle();
      });
    });
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </meta>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
  <![endif]-->
</head>
<body>
  <section class="container">
    <div class="row">
      <div class="header col-xs-12">
        <div class="header-inner">
          <div class="header-site">
            <div class="site">
            <h1><a href="/"> Bestudy</a></h1>
            </div>
          </div>

          <div class="header-nav">
            <button type="button" id= "menubtn">
            <div class="bars">
            <%= image_tag 'list.png', :alt => "list", :class => "list" %>
            </div>
            </button>
            <nav class ="menu" id="menu">
              <ul>
                <li><%= link_to "トップ", root_path %></li>
                <li><%= link_to "ログイン", new_user_session_path %></li>
                <li><%= link_to "新規登録", new_user_registration_path %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>


      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <%= yield %>
    
    <div class="rowß">
      <div class="footer col-xs-12">
        <div class="footer-inner">
          <div class="copyright">
            <p>Copyright &copy; Bestudy</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

